<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%BA%D0%B5%D0%B9%D1%81%D1%8B%20%D0%BF%D0%BE%20%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D1%83%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85/%D0%BA%D1%83%D1%80%D1%81%20%D0%B2%D0%B0%D0%BB%D1%8E%D1%82%D1%8B.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [2]:
from IPython.display import HTML

# Youtube
display(HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/v-rIM2YvTfA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>'))

Разберемся, каким образом забирать данные о курсе валют в реальном времени с [сайта](https://www.cbr-xml-daily.ru/daily_json.js).

In [ ]:
#!pip3 install requests

Импортируем модуль и отправим запрос к сервису с курсами валют с помощью метода [GET](https://ru.wikipedia.org/wiki/HTTP#GET):

In [3]:
import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')

Посмотрим, что получили в ответ:

In [4]:
response

Мы получили объект ответа, который содержит всю нужную нам информацию. По умолчанию на экран выводится HTTP-код ответа 200. Это означает, что запрос был корректным, и сервер отдал нам нужную информацию.

Код ответа в виде числа можно получить с помощью метода `status_code`:

In [5]:
response.status_code

200

Адрес, по которому мы обращались, возвращает результат в `json` формате. Эти данные уже лежат в атрибуте `text` в полученном ответе `response`.

In [6]:
response.text[:230]

'{\n    "Date": "2020-06-12T11:30:00+03:00",\n    "PreviousDate": "2020-06-11T11:30:00+03:00",\n    "PreviousURL": "\\/\\/www.cbr-xml-daily.ru\\/archive\\/2020\\/06\\/11\\/daily_json.js",\n    "Timestamp": "2020-06-11T23:00:00+03:00",\n    "Va'

Сейчас текст хранится просто в строковой переменной. Далее мы можем превратить эту строку в словарь. Сделать это можно с помощью JSON-парсера либо воспользовавшись методом `json`, который уже встроен в объект ответа `response`.

In [7]:
currencies = response.json()
currencies

{'Date': '2020-06-12T11:30:00+03:00',
 'PreviousDate': '2020-06-11T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2020/06/11/daily_json.js',
 'Timestamp': '2020-06-11T23:00:00+03:00',
 'Valute': {'AUD': {'ID': 'R01010',
   'NumCode': '036',
   'CharCode': 'AUD',
   'Nominal': 1,
   'Name': 'Австралийский доллар',
   'Value': 47.9706,
   'Previous': 48.0191},
  'AZN': {'ID': 'R01020A',
   'NumCode': '944',
   'CharCode': 'AZN',
   'Nominal': 1,
   'Name': 'Азербайджанский манат',
   'Value': 40.7438,
   'Previous': 40.447},
  'GBP': {'ID': 'R01035',
   'NumCode': '826',
   'CharCode': 'GBP',
   'Nominal': 1,
   'Name': 'Фунт стерлингов Соединенного королевства',
   'Value': 87.6673,
   'Previous': 87.6462},
  'AMD': {'ID': 'R01060',
   'NumCode': '051',
   'CharCode': 'AMD',
   'Nominal': 100,
   'Name': 'Армянских драмов',
   'Value': 14.305,
   'Previous': 14.2037},
  'BYN': {'ID': 'R01090B',
   'NumCode': '933',
   'CharCode': 'BYN',
   'Nominal': 1,
   'Name': 'Белорусский рубль',
   'Value': 29.1248,
   'Previous': 28.9504},
  'BGN': {'ID': 'R01100',
   'NumCode': '975',
   'CharCode': 'BGN',
   'Nominal': 1,
   'Name': 'Болгарский лев',
   'Value': 40.1895,
   'Previous': 39.8944},
  'BRL': {'ID': 'R01115',
   'NumCode': '986',
   'CharCode': 'BRL',
   'Nominal': 1,
   'Name': 'Бразильский реал',
   'Value': 13.8966,
   'Previous': 14.0034},
  'HUF': {'ID': 'R01135',
   'NumCode': '348',
   'CharCode': 'HUF',
   'Nominal': 100,
   'Name': 'Венгерских форинтов',
   'Value': 22.8234,
   'Previous': 22.6894},
  'HKD': {'ID': 'R01200',
   'NumCode': '344',
   'CharCode': 'HKD',
   'Nominal': 10,
   'Name': 'Гонконгских долларов',
   'Value': 89.1826,
   'Previous': 88.5375},
  'DKK': {'ID': 'R01215',
   'NumCode': '208',
   'CharCode': 'DKK',
   'Nominal': 1,
   'Name': 'Датская крона',
   'Value': 10.5439,
   'Previous': 10.4665},
  'USD': {'ID': 'R01235',
   'NumCode': '840',
   'CharCode': 'USD',
   'Nominal': 1,
   'Name': 'Доллар США',
   'Value': 69.1219,
   'Previous': 68.6183},
  'EUR': {'ID': 'R01239',
   'NumCode': '978',
   'CharCode': 'EUR',
   'Nominal': 1,
   'Name': 'Евро',
   'Value': 78.5225,
   'Previous': 77.9229},
  'INR': {'ID': 'R01270',
   'NumCode': '356',
   'CharCode': 'INR',
   'Nominal': 100,
   'Name': 'Индийских рупий',
   'Value': 91.2127,
   'Previous': 90.771},
  'KZT': {'ID': 'R01335',
   'NumCode': '398',
   'CharCode': 'KZT',
   'Nominal': 100,
   'Name': 'Казахстанских тенге',
   'Value': 17.2695,
   'Previous': 17.1565},
  'CAD': {'ID': 'R01350',
   'NumCode': '124',
   'CharCode': 'CAD',
   'Nominal': 1,
   'Name': 'Канадский доллар',
   'Value': 51.304,
   'Previous': 51.2421},
  'KGS': {'ID': 'R01370',
   'NumCode': '417',
   'CharCode': 'KGS',
   'Nominal': 100,
   'Name': 'Киргизских сомов',
   'Value': 92.953,
   'Previous': 92.5657},
  'CNY': {'ID': 'R01375',
   'NumCode': '156',
   'CharCode': 'CNY',
   'Nominal': 10,
   'Name': 'Китайских юаней',
   'Value': 97.7624,
   'Previous': 97.1023},
  'MDL': {'ID': 'R01500',
   'NumCode': '498',
   'CharCode': 'MDL',
   'Nominal': 10,
   'Name': 'Молдавских леев',
   'Value': 40.2574,
   'Previous': 40.0107},
  'NOK': {'ID': 'R01535',
   'NumCode': '578',
   'CharCode': 'NOK',
   'Nominal': 10,
   'Name': 'Норвежских крон',
   'Value': 73.6052,
   'Previous': 74.2638},
  'PLN': {'ID': 'R01565',
   'NumCode': '985',
   'CharCode': 'PLN',
   'Nominal': 1,
   'Name': 'Польский злотый',
   'Value': 17.5784,
   'Previous': 17.5391},
  'RON': {'ID': 'R01585F',
   'NumCode': '946',
   'CharCode': 'RON',
   'Nominal': 1,
   'Name': 'Румынский лей',
   'Value': 16.2537,
   'Previous': 16.1409},
  'XDR': {'ID': 'R01589',
   'NumCode': '960',
   'CharCode': 'XDR',
   'Nominal': 1,
   'Name': 'СДР (специальные права заимствования)',
   'Value': 95.8589,
   'Previous': 94.7708},
  'SGD': {'ID': 'R01625',
   'NumCode': '702',
   'CharCode': 'SGD',
   'Nominal': 1,
   'Name': 'Сингапурский доллар',
   'Value': 49.8032,
   'Previous': 49.5439},
  'TJS': {'ID': 'R01670',
   'NumCode': '972',
   'CharCode': 'TJS',
   'Nominal': 10,
   'Name': 'Таджикских сомони',
   'Value': 67.1902,
   'Previous': 66.6521},
  'TRY': {'ID': 'R01700J',
   'NumCode': '949',
   'CharCode': 'TRY',
   'Nominal': 1,
   'Name': 'Турецкая лира',
   'Value': 10.1981,
   'Previous': 10.1083},
  'TMT': {'ID': 'R01710A',
   'NumCode': '934',
   'CharCode': 'TMT',
   'Nominal': 1,
   'Name': 'Новый туркменский манат',
   'Value': 19.7774,
   'Previous': 19.6333},
  'UZS': {'ID': 'R01717',
   'NumCode': '860',
   'CharCode': 'UZS',
   'Nominal': 10000,
   'Name': 'Узбекских сумов',
   'Value': 68.087,
   'Previous': 67.6242},
  'UAH': {'ID': 'R01720',
   'NumCode': '980',
   'CharCode': 'UAH',
   'Nominal': 10,
   'Name': 'Украинских гривен',
   'Value': 25.9902,
   'Previous': 25.7568},
  'CZK': {'ID': 'R01760',
   'NumCode': '203',
   'CharCode': 'CZK',
   'Nominal': 10,
   'Name': 'Чешских крон',
   'Value': 29.4926,
   'Previous': 29.3435},
  'SEK': {'ID': 'R01770',
   'NumCode': '752',
   'CharCode': 'SEK',
   'Nominal': 10,
   'Name': 'Шведских крон',
   'Value': 75.0126,
   'Previous': 74.768},
  'CHF': {'ID': 'R01775',
   'NumCode': '756',
   'CharCode': 'CHF',
   'Nominal': 1,
   'Name': 'Швейцарский франк',
   'Value': 73.4168,
   'Previous': 72.5045},
  'ZAR': {'ID': 'R01810',
   'NumCode': '710',
   'CharCode': 'ZAR',
   'Nominal': 10,
   'Name': 'Южноафриканских рэндов',
   'Value': 41.5831,
   'Previous': 41.3817},
  'KRW': {'ID': 'R01815',
   'NumCode': '410',
   'CharCode': 'KRW',
   'Nominal': 1000,
   'Name': 'Вон Республики Корея',
   'Value': 57.8615,
   'Previous': 57.708},
  'JPY': {'ID': 'R01820',
   'NumCode': '392',
   'CharCode': 'JPY',
   'Nominal': 100,
   'Name': 'Японских иен',
   'Value': 64.609,
   'Previous': 63.9529}}}

Теперь данные лежат в словаре и мы можем легко получать необходимые значения.

In [8]:
currencies['Valute']['USD']

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 69.1219,
 'Previous': 68.6183}

Рассмотрим датасет с зарплатами в ИТ:

In [10]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')
df.head(10)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.0,₽
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.0,₽
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽",280000.0,₽
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽",129000.0,₽
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽",185000.0,₽
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽",160000.0,₽
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł",9500.0,zł

### Задание

Определите заработную плату в ₽ по текущему курсу.

In [11]:
df['curenc'] = df['curenc'].str.replace('zł','PLN').str.replace('Kč','CZK').str.replace('$', 'USD').str.replace('lev','BGN').str.replace('Ft','HUF').str.replace('€','EUR')

In [12]:
def wage_to_rub(row):
  return round(row['col']*currencies['Valute'][row['curenc']]['Value'],2) if row['curenc'] != '₽' else row['col']

In [13]:
df['Value in RUB'] = df.apply(wage_to_rub, axis = 1)
df

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc,Value in RUB
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.00,₽,140000.00
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.00,₽,130000.00
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.00,₽,200000.00
3,4,09.06.1989,Архитектор ПО,Java,Москва,"250 000,00 ₽",250000.00,₽,250000.00
4,5,03.10.1978,QA Automation Engineer,QA,Санкт-Петербург,"172 413,00 ₽",172413.00,₽,172413.00
5,6,21.08.1973,Big Data Developer,Big Data,Санкт-Петербург,"280 000,00 ₽",280000.00,₽,280000.00
6,7,10.10.1991,JS Developer,JS,Москва,"129 000,00 ₽",129000.00,₽,129000.00
7,8,16.08.1982,Разработчик мобильных приложений,Android,Москва,"185 000,00 ₽",185000.00,₽,185000.00
8,9,16.05.1988,Инженер-программист 2 категории,.NET,Санкт-Петербург,"160 000,00 ₽",160000.00,₽,160000.00
9,10,01.12.1990,Java Engineer,Java,Краков; Польша,"9 500,00 zł",9500.00,PLN,166994.80
10,11,04.02.1991,Инженер-программист,JavaScript,Москва,"170 000,00 ₽",170000.00,₽,170000.00
11,12,11.02.1982,.NET Engineer,.NET,Гданьск; Польша,"12 000,00 zł",12000.00,PLN,210940.80
12,13,04.11.1988,JavaScript Engineer,JavaScript,Краков; Польша,"10 500,00 zł",10500.00,PLN,184573.20
13,14,09.04.1990,Software Engineer,JS,Вроцлав; Польша,"9 500,00 zł",9500.00,PLN,166994.80
14,15,16.03.1986,Head of Software Testing Department,QA,Санкт-Петербург,"375 000,00 ₽",375000.00,₽,375000.00
15,16,30.08.1982,Java Developer,Java,Москва,"180 000,00 ₽",180000.00,₽,180000.00
16,17,05.01.1984,Data / DWH Analyst,DB,Прага; Чехия,"60 000,00 Kč",60000.00,CZK,1769556.00
17,18,28.08.1995,JS Developer,JavaScript,Москва,"160 000,00 ₽",160000.00,₽,160000.00
18,19,02.02.1972,Senior Software Engineer,BI,Санкт-Петербург,"200 000,00 ₽",200000.00,₽,200000.00
19,20,21.09.1985,QA Engineer,QA,Санкт-Петербург,"135 000,00 ₽",135000.00,₽,135000.00
20,21,06.07.1990,Разработчик интерфейсов,JavaScript,Санкт-Петербург,"113 000,00 ₽",113000.00,₽,113000.00
21,22,13.11.1991,3D Artist,GameDev,Минск,"$2 000,00",2000.00,USD,138243.80
22,23,03.02.1970,Senior Tester,QA,Санкт-Петербург,"145 000,00 ₽",145000.00,₽,145000.00
23,24,29.10.1987,Инженер-программист,JavaScript,Санкт-Петербург,"190 000,00 ₽",190000.00,₽,190000.00
24,25,05.03.1989,Big Data Developer,Scala,Санкт-Петербург,"250 000,00 ₽",250000.00,₽,250000.00
25,26,29.12.1991,Разработчик информационных систем,.NET,Москва,"200 000,00 ₽",200000.00,₽,200000.00
26,27,01.11.1991,Фронтенд разработчик,JavaScript,Санкт-Петербург,"300 000,00 ₽",300000.00,₽,300000.00
27,28,09.10.1990,Java Developer,Java,Москва,"170 000,00 ₽",170000.00,₽,170000.00
28,29,17.04.1992,Разработчик информационных систем,.NET,Москва,"190 000,00 ₽",190000.00,₽,190000.00
29,30,12.11.1990,Big Data Developer,Big Data,Санкт-Петербург,"185 000,00 ₽",185000.00,₽,185000.00
30,31,09.02.1992,Senior Java developer,Java,Санкт-Петербург,"264 367,82 ₽",264367.82,₽,264367.82
31,32,19.12.1983,Game Designer,GameDev,Минск,"$1 800,00",1800.00,USD,124419.42
32,33,26.09.1981,Java Developer,Java,Москва,"210 000,00 ₽",210000.00,₽,210000.00
33,34,03.04.1994,iOS Developer,iOS,Санкт-Петербург,"184 000,00 ₽",184000.00,₽,184000.00
34,35,23.12.1988,iOS Developer,iOS,Санкт-Петербург,"170 000,00 ₽",170000.00,₽,170000.00
35,36,28.08.1977,BI Dev,BI,Санкт-Петербург,"161 000,00 ₽",161000.00,₽,161000.00
36,37,04.05.1988,PHP Dev,PHP,Москва,"201 149,43 ₽",201149.43,₽,201149.43
37,38,03.04.1990,JavaScript Engineer,JavaScript,Краков; Польша,"13 000,00 zł",13000.00,PLN,228519.20
38,39,10.06.1988,Senior Software Engineer,Java,София; Болгария,"lev6 446,00",6446.00,BGN,259061.52
39,40,17.02.1992,Test Automation Engineer,QA,Будапешт; Венгрия,"Ft650 000,00",650000.00,HUF,14835210.00
40,41,27.05.1986,Специалист по продаже консалтинговых услуг,Sales,Москва,"150 000,00 ₽",150000.00,₽,150000.00
41,42,10.10.1989,ASP.NET Developer,.NET,Санкт-Петербург,"165 000,00 ₽",165000.00,₽,165000.00
42,43,26.07.1989,С++ Developer,C++,Москва,"206 896,00 ₽",206896.00,₽,206896.00
43,44,04.01.1996,Software Developer,GameDev,Санкт-Петербург,"130 631,00 ₽",130631.00,₽,130631.00
44,45,25.01.1978,С++ Developer,C++,Нижний Новгород,"100 000,00 ₽",100000.00,₽,100000.00
45,46,25.10.1985,Senior Java developer,Java,Санкт-Петербург,"252 900,00 ₽",252900.00,₽,252900.00
46,47,01.06.1979,Solution Architect,OpenStack,Минск,6000 $,6000.00,USD,414731.40
47,48,06.03.1989,JS Dev,JS,Санкт-Петербург,"200 000,00 ₽",200000.00,₽,200000.00
48,49,04.07.1992,PHP Dev,PHP,Москва,"169 540,23 ₽",169540.23,₽,169540.23
49,50,09.02.1985,Java Developer,Java,Москва,"300 000,00 ₽",300000.00,₽,300000.00
50,51,04.08.1987,ASP.NET Dev,.NET,Москва,"180 000,00 ₽",180000.00,₽,180000.00
51,52,26.12.1987,Senior Java Developer,Java,Санкт-Петербург,"210 000,00 ₽",210000.00,₽,210000.00
52,53,07.02.1993,Android-разработчик,Android,Санкт-Петербург,"183 908,00 ₽",183908.00,₽,183908.00
53,54,20.06.1991,Разработчик информационных систем,.NET,Москва,"150 000,00 ₽",150000.00,₽,150000.00
54,55,04.11.1985,.NET Engineer,.NET,Чехия; Прага,"80 000,00 Kč",80000.00,CZK,2359408.00
55,56,08.01.1976,С++ Developer,С++,Атлон; Ирландия,"€ 3 212,00",3212.00,EUR,252214.27
56,57,12.09.1986,Java Dev,Java,Атлон; Ирландия,"€ 4 000,00",4000.00,EUR,314090.00
57,58,15.04.1989,JS Dev,JS,Атлон; Ирландия,"€ 2 980,00",2980.00,EUR,233997.05

### Возможности pandas для парсинга сайтов

Рассмотрим пример парсинга сайта с использованием возможностей модуля pandas:

In [14]:
import pandas as pd

df = pd.read_html("https://www.cbr.ru/key-indicators/")
df[0]

                 0           1           2
0           валюта  11.06.2020  12.06.2020
1  Доллар США  USD      686183      691219
2        Евро  EUR      779229      785225

In [15]:
df[1]

                 0           1
0  рублей за грамм  12.06.2020
1       Золото  Au    3 848,83
2      Серебро  Ag        3972
3      Платина  Pt    1 833,41
4     Палладий  Pd    4 282,41

In [ ]:
df[2]

                               0         1         2          3
0                      % годовых    1 день  2-7 дней  8-30 дней
1          MIACR  за  21.05.2020       545       528          —
2         RUONIA  за  21.05.2020       532       NaN        NaN
3                      % годовых    1 день  1 неделя    1 месяц
4  MosPrime Rate  на  22.05.2020       562       572        579
5                      % годовых  1 неделя  2 недели    1 месяц
6        ROISfix  на  22.05.2020       541       541        532